#infinite-grid-menu-canvas {
    cursor: grab;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    outline: none;
}

#infinite-grid-menu-canvas:active {
    cursor: grabbing;
}

.face-title {
    user-select: none;
    position: absolute;
    font-weight: 900;
    font-size: 3rem;
    left: 1.6em;
    top: 50%;
    color: #c8c2b4;
    transform: translate(20%, -50%);
}

.face-title.active {
    opacity: 1;
    transform: translate(20%, -50%);
    pointer-events: auto;
    transition: 0.5s ease;
}

.face-title.inactive {
    pointer-events: none;
    opacity: 0;
    transition: 0.1s ease;
}

.face-description {
    user-select: none;
    position: absolute;
    max-width: 10ch;
    top: 50%;
    font-size: 1.2rem;
    right: 1%;
    transform: translate(0, -50%);
    color: #a09888;
}

.face-description.active {
    opacity: 1;
    transform: translate(-90%, -50%);
    pointer-events: auto;
    transition: 0.5s ease;
}

.face-description.inactive {
    pointer-events: none;
    transform: translate(-60%, -50%);
    opacity: 0;
    transition: 0.1s ease;
}

/* Hide title/description on smaller screens */
@media (max-width: 1500px) {

    .face-title,
    .face-description {
        display: none;
    }
}

/* Mobile optimizations */
@media (max-width: 768px) {
    #infinite-grid-menu-canvas {
        touch-action: none;
    }
}